.rendu {
    background-color: lightgreen;
}

.nonRendu {
    background-color: lightcoral;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBtn {
    align-self: flex-end;
}