<p>assignments works!</p>

<H2>Componant title is {{titre}}</H2>

<!--<form ngForm (submit)="onSubmit(); assignmentForm.reset()"#assignmentForm class="form">
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom devoir" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="picker" placeholder="Date de rendu" [(ngModel)]="dateRendu" name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-stroked-button color="primary">
        Add Assignment
    </button>
</form>-->

<!--@for (assignment of assignments; track assignment.nom) {
    <div [ngClass]="{'rendu': assignment.rendu, 'nonRendu': !assignment.rendu}">
        @if (assignment.rendu) {
            <p>
                Le devoir {{assignment.nom}} est rendu le {{assignment.dateRendu | date: 'dd-MM-yyyy'}}.
            </p>
        }
        @else {
            <p>
                Le devoir {{assignment.nom}} n'est pas rendu. Il doit l'être pour le {{assignment.dateRendu | date: 'dd-MM-yyyy'}}.
            </p>
        }
    </div>
}-->
<app-add-assignment (assignmentAdded)="onAddedAssignment($event)" *ngIf="formVisible"></app-add-assignment>

<main *ngIf="!formVisible" class="container">
<button class="addBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtnClicked()">Ajouter un devoir</button>
    <mat-list *ngFor="let assignment of assignments">
        <h3 mat-subheader>{{assignment.dateRendu | date}}</h3>
        <mat-list-item (click)="assignmentClicked(assignment)">
            <p appRendu *ngIf="assignment.rendu; else nonrendu" class="rendu">
                Devoir {{assignment.nom}} à été rendu.
            </p>
            <ng-template #nonrendu>
                <p class="nonRendu">Devoir {{assignment.nom}} n'est pas rendu.</p>
            </ng-template>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</main>
<app-assignment-detail [assignmentTransmis]="assignmentSelected"></app-assignment-detail>